# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [35]:
# todo:

import pandas as pd

nueva_serie = pd.Series(range(1,6))
print(nueva_serie)
print("-------------")

paises_capitales={
    "Argentina": "Buenos Aires",
    "Peru": "Lima",
    "España": "Barcelona",
    "Uruguay": "Montevideo"
}

serie_capitales = pd.Series(paises_capitales)
print(serie_capitales)

0    1
1    2
2    3
3    4
4    5
dtype: int64
-------------
Argentina    Buenos Aires
Peru                 Lima
España          Barcelona
Uruguay        Montevideo
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [36]:
# todo:

tareas = pd.Series({
    "Lunes": "Comprar el pan",
    "Martes": "Leer",
    "Miercoles": "Hacer tarea",
    "Jueves": "Salir a correr",
    "Viernes": "Estudiar",
    "Sabado": "Cocinar",
    "Domingo": "Hacer ejercicio"
})

print(tareas)
print("----------")

print("Tarea del lunes:", tareas["Lunes"])
print("Tarea del domingo:", tareas["Domingo"])
print("----------")

dias_pares= ["Martes", "Jueves", "Sabado"]
tareas[dias_pares] = "Jugar League of legends"
print(tareas)

Lunes         Comprar el pan
Martes                  Leer
Miercoles        Hacer tarea
Jueves        Salir a correr
Viernes             Estudiar
Sabado               Cocinar
Domingo      Hacer ejercicio
dtype: object
----------
Tarea del lunes: Comprar el pan
Tarea del domingo: Hacer ejercicio
----------
Lunes                 Comprar el pan
Martes       Jugar League of legends
Miercoles                Hacer tarea
Jueves       Jugar League of legends
Viernes                     Estudiar
Sabado       Jugar League of legends
Domingo              Hacer ejercicio
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [37]:
# todo:

serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([6, 7, 8, 9, 1])

suma = serie1 + serie2
resta = serie2 - serie1
multiplicacion = serie1 * serie2
division = serie1 / serie2

print("Suma:", suma)
print("----------")
print("Resta:", resta)
print("----------")
print("Multiplicación:", multiplicacion)
print("----------")
print("División:", division)

Suma: 0     7
1     9
2    11
3    13
4     6
dtype: int64
----------
Resta: 0    5
1    5
2    5
3    5
4   -4
dtype: int64
----------
Multiplicación: 0     6
1    14
2    24
3    36
4     5
dtype: int64
----------
División: 0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    5.000000
dtype: float64

In [41]:
potencia_dos = serie1 ** 2
potencia_tres = serie1 ** 3
potencia_cuatro = serie1 ** 4

print("Primera serie al cuadrado:",potencia_dos)
print("----------")
print("Primera serie al cubo:",potencia_tres)
print("----------")
print("Primera serie a la cuarta potencia:", potencia_cuatro)

Primera serie al cuadrado: 0     1
1     4
2     9
3    16
4    25
dtype: int64
----------
Primera serie al cubo: 0      1
1      8
2     27
3     64
4    125
dtype: int64
----------
Primera serie a la cuarta potencia: 0      1
1     16
2     81
3    256
4    625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [52]:
# todo:

personas_edades = pd.Series({
    "Persona 1": 10,
    "Persona 2": 15,
    "Persona 3": 26,
    "Persona 4": 19,
    "Persona 5": 9,
    "Persona 6": 34,
    "Persona 7": 12,
    "Persona 8": 29,
    "Persona 9": 40,
    "Persona 10": 52,
})

mayores_edad = personas_edades[personas_edades > 18]
print(f"""Personas mayores de edad:
{mayores_edad}""")
print("----------")

edades_modificadas = personas_edades.astype('object')
edades_modificadas[edades_modificadas < 18] = "Menor de edad"
print(edades_modificadas)

Personas mayores de edad:
Persona 3     26
Persona 4     19
Persona 6     34
Persona 8     29
Persona 9     40
Persona 10    52
dtype: int64
----------
Persona 1     Menor de edad
Persona 2     Menor de edad
Persona 3                26
Persona 4                19
Persona 5     Menor de edad
Persona 6                34
Persona 7     Menor de edad
Persona 8                29
Persona 9                40
Persona 10               52
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo: